<h1>Contact Us</h1>

<h3><%= @company_info.name%></h3>

<p>Phone: <%= @company_info.phone_number %></h3>
<p>Fax: <%= @company_info.fax_number %></h3>
<p>Email: <%= @company_info.email %></h3>
<p>Address: <%= @company_info.address %></h3>